// Import Bootstrap (via gem)
@import "bootstrap";

// Import spotify theme partial
@import "partials/default-theme";

// Additional global overrides can go here
/* Toast Animations */
.toast {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bg-success {
  background-color: #1DB954 !important;
}

.bg-danger {
  background-color: #e91429 !important;
}

.nav-bar-logo {
    object-fit: cover;
    height: 50px;
}

.spotify-nav .nav-logo {
  color: $light-gray;
  font-weight: 500;
  text-decoration: none;
  margin-right: 10px;

  &.active {
    color: $spotify-green;
    border-bottom: 2px solid $spotify-green;
  }

  &:hover {
    color: $spotify-green;
    background-color: $medium-gray;
    border-radius: 4px 4px 0 0;
  }
}

.refresh-button {
  color: white;
  background-color: $spotify-green;
  font-weight: 700;
  text-decoration: none !important;
  height: 30px;
  width: 125px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: $spotify-green;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.refresh-button:hover {
  color: $spotify-green;
  background-color: white;
  text-decoration: none !important;
}
